In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv(r'E:\DoAnPTIT\Data\clean_books.csv')

In [4]:
tiki_ids = books.id.values

In [5]:
tiki_ids

array([58390336,  1664525, 55573620, ..., 49064610,  2099833, 17536973],
      dtype=int64)

In [6]:
ratings = pd.read_csv(r'E:\DoAnPTIT\Data\all_rating.csv')
ratings.head()

,product_id,content,customer_id,user_name,stars,comment_id
0,58441480,"Giao hàng nhanh , sách đẹp .Giao hôm qua hn Ti...",7201105,Hải Phạm,5,4702781
1,58441480,"Nội dung hay, Phụ huynh nên đọc để định hướng ...",823195,Trang Nguyen,5,4940437
2,58441480,Sách hay dành cho cả người lớn và trẻ nhỏ. Hìn...,6927758,Luyen Do,4,4690057
3,58441480,sách quá đẹp đi! nội dung rất ok,73375,Hiểu Mai,5,4645307
4,58441480,Sách đẹp,7103521,Nguyễn Xuân Hùng,5,4627799

In [7]:
ratings.drop(ratings[~ratings['product_id'].isin(tiki_ids)].index, inplace=True)

In [8]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237916 entries, 0 to 267741
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   product_id   237916 non-null  int64
 1   content      158939 non-null  object
 2   customer_id  237916 non-null  int64
 3   user_name    237315 non-null  object
 4   stars        237916 non-null  int64
 5   comment_id   237916 non-null  int64
dtypes: int64(4), object(2)
memory usage: 12.7+ MB

In [9]:
ratings.to_csv('../Data/final_rating_data.csv', index=False)