In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../Data/all_rating.csv')
data.head()

,product_id,content,customer_id,user_name,stars,comment_id
0,58441480,"Giao hàng nhanh , sách đẹp .Giao hôm qua hn Ti...",7201105,Hải Phạm,5,4702781
1,58441480,"Nội dung hay, Phụ huynh nên đọc để định hướng ...",823195,Trang Nguyen,5,4940437
2,58441480,Sách hay dành cho cả người lớn và trẻ nhỏ. Hìn...,6927758,Luyen Do,4,4690057
3,58441480,sách quá đẹp đi! nội dung rất ok,73375,Hiểu Mai,5,4645307
4,58441480,Sách đẹp,7103521,Nguyễn Xuân Hùng,5,4627799

In [3]:
rating_count = (data.
     groupby(by = ['product_id'])['stars'].
     count().
     reset_index().
     rename(columns = {'stars': 'RatingCount_book'})
     [['product_id', 'RatingCount_book']]
    )
rating_count.head()

   product_id  RatingCount_book
0      181893               200
1      185906               199
2      306576               102
3      313379               156
4      316388               192

In [5]:
threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')
rating_count.shape

(2702, 2)

In [6]:
user_count = (data.
     groupby(by = ['customer_id'])['stars'].
     count().
     reset_index().
     rename(columns = {'stars': 'RatingCount_user'})
     [['customer_id', 'RatingCount_user']]
    )
user_count.head()

   customer_id  RatingCount_user
0            0                 1
1           27                 6
2           58                 1
3           61                 1
4          158                 4

In [8]:
user_count['RatingCount_user'].max()

163

In [10]:
threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')
user_count.shape

(269, 2)

In [12]:
combined = data.merge(user_count, left_on = 'customer_id', right_on = 'customer_id', how = 'inner')

In [13]:
combined

,product_id,content,customer_id,user_name,stars,comment_id,RatingCount_user
0,58441480,NaN,6024679,Nhung Phạm,5,4864338,27
1,56511851,NaN,6024679,Nhung Phạm,5,4864352,27
2,56511853,NaN,6024679,Nhung Phạm,5,4864319,27
3,56511849,NaN,6024679,Nhung Phạm,5,4864331,27
4,56603322,NaN,6024679,Nhung Phạm,5,4864349,27
...,...,...,...,...,...,...,...
7893,2286207,"Sách hơi mỏng so với tưởng tượng, nội dung hay.",1503284,Hoàng Quốc Anh,5,5130677,22
7894,44984262,NaN,1503284,Hoàng Quốc Anh,5,5118079,22
7895,446881,NaN,1503284,Hoàng Quốc Anh,5,4899535,22
7896,49550295,"Sách in đẹp, bìa dập nổi. Giao hàng nhanh, nội...",1503284,Hoàng Quốc Anh,5,4533305,22
7897,58627102,NaN,1503284,Hoàng Quốc Anh,5,4899861,22

In [15]:
combined['RatingCount_user'].min()

20

In [16]:
print('Number of unique books: ', combined['product_id'].nunique())
print('Number of unique users: ', combined['customer_id'].nunique())

Number of unique books:  3877
Number of unique users:  269

In [18]:
combined.drop_duplicates(['customer_id', 'product_id'], inplace=True)
user_book_matrix = combined.pivot(index='customer_id', columns='product_id', values='stars')
user_book_matrix.fillna(0, inplace=True)

users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()

user_book_matrix = user_book_matrix.to_numpy()
user_book_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])