In [73]:
import pandas as pd

In [74]:
ratings = pd.read_csv('../Data/final_rating_not_spare.csv')

In [75]:
items = pd.read_csv('../Data/final_all_clean_books.csv')

In [78]:
user_id = 96710
idx = ratings[ratings['customer_id']==user_id]['product_id'].values
items.loc[items['new_id'].isin(idx)][['name','big_category','sub_category']].values

array([['Who? Chuyện Kể Về Danh Nhân Thế Giới: Walt Disney (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Ludwig Van Beethoven (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Stephen Hawking (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Jane Goodall (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Chuyện Kể Về Danh Nhân Thế Giới: Who? Hans Christian Andersen (Tái Bản)',
        'Sách thiếu nhi', ' Truyện kể cho bé'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới - Maria Montessori (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Vincent Van Gogh (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Martin Luther King (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Nelson Mandela (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Charlie Chaplin (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Winston Churchill (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới - Wilhelm Roentgen (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Steven Spielberg (Tái Bản 2019)',
        'Sách thiếu nhi', ' Kiến thức - Bách khoa'],
       ['Who? Chuyện Kể Về Danh Nhân Thế Giới: Charles Darwin (Tái Bản 2019)',
        'Sách kinh tế', ' Sách quản trị']], dtype=object)

In [68]:
items = pd.read_csv('../Data/final_all_clean_books.csv')

In [67]:
create_rating_db = pd.read_csv('../Data/final_rating_not_spare_format.csv')
create_rating_db.head()

   item   user  rating
0  9672  53270       5
1  9672  91213       4
2  3038  56289       5
3  3038  88524       5
4  3038  72126       5

In [69]:
create_rating_db['raw_id_product'] = create_rating_db['item'].apply(lambda x: items.loc[items['new_id']==x]['id'].values[0])

In [70]:
create_rating_db.head()

   item   user  rating  raw_id_product
0  9672  53270       5        58441480
1  9672  91213       4        58441480
2  3038  56289       5         3071851
3  3038  88524       5         3071851
4  3038  72126       5         3071851

In [72]:
create_rating_db[['user', 'raw_id_product', 'rating']].to_csv('../Data/ratings.csv', index=False)